/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*===== Colors =====*/
    --hue-color: 242;

    /* HSL Color Mode */
    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;

    /*===== Margenes Bottom =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding:6.5rem 0 2rem;
}

.section_title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section_title::before{
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}







/*=============== SIDEBAR ===============*/
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
}

.nav_logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.3rem; /* Adjusted from 1.8rem to 1.3rem to move the logo up */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}

.nav_logo .text {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

/* Centering the logo text */
.nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav_list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}

.btn_share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social_share {
    font-size: 1.5rem;
}

/* Active Link */
.nav_link.active-link, .nav_link:hover {
    color: var(--skin-color);
}

.nav_link.active-link::after, .nav_link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}

/*=============== MAIN ===============*/
.main {
    margin-left: 100px; /* Matches the sidebar width */
    padding: 20px; /* Adds consistent padding around the content */
    background-color: rgb(32, 32, 33) /* Dark grey color applied to the padding area */
}

/*===== Home Section =====*/
.home {
    background: url(../img/profile-picture.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.home_container {
    position: relative;
    height: 100%;
    align-items: center;
}

.home_social {
    position: absolute;
    top: 1.8em;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home_social-follow {
    font-weight: var(--font-medium);
    position: relative;
}

.home_social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home_social-links {
    display: inline-flex;
    column-gap: 1rem;
}

.home_social-link {
    font-size: 1.08rem;
    color: var(--text-color);
    transition: .4s;
}

.home_social-link:hover {
    transform: translate(0.25rem);
}

.home_img {
    display: none;
}

.home_title {
    font-size: var(--biggest-font-size);
}

.home_subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description {
    max-width: 450px;
    margin-bottom: var(--mb-2);
}

.my_info {
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info_item {
    display: flex;
    align-items: center;
}

.info_title,
.info_subtitle {
    font-size: var(--small-font-size);
}

.info_title {
    font-weight: var(--font-medium);
}

.info_icon {
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
}

/*===== Buttons =====*/
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: .75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
  }
  
  .button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-color);
    z-index: -1;
    transform-origin:center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .4s;
  }

.button:hover::after{
    transform: scale(1);
}

.button_icon{
    font-size: 1.25rem;
}

/*===== About Section =====*/
/* Styling the about container */
.about_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

/* Image styling */
.about_img {
    width: 100%;
    max-width: 400px;
    border-radius: .5rem;
    margin: 0 auto;
}

/* Headings and descriptions */
.about_heading {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.about_description {
    color: var(--text-color);
    margin-bottom: var(--mb-2);
}

/* Info boxes styling */
.about_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: var(--mb-2);
}

.about_box {
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.about_title {
    font-size: var(--normal-font-size);
    color: var(--title-color);
}

.about_subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

/*===== education Section =====*/

.education.section {
    padding: 6.5rem 0 2rem;
}

.education_container {
    grid-template-columns: repeat(2,290px);
    column-gap: 3rem;
    justify-content: center;

}
.education_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.education_timeline, .new_timeline {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make each timeline take full width of its column */
    max-width: 500px; /* Adjust based on your design requirements */
}

.timeline {
    position: relative;
    padding-left: 2rem;
    border-left: 2px solid var(--skin-color);
}

.timeline_item {
    margin-bottom: var(--mb-2);
    position: relative;
}

.circle_dot {
    position: absolute;
    left: -2.4rem; /* Adjusts position of the dot */
    top: 0.4rem;
    width: 12px;
    height: 12px;
    background-color: var(--skin-color);
    border-radius: 50%;
}

.timeline_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.timeline_text {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    text-align: justify;
}

.timeline_item:hover .circle_dot {
    background-color: var(--body-color);
}

.timeline_date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}


/*===== Skills Section =====*/
.skills_container {
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}

.skills_header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills_header:not(:last-child) {
    margin-bottom: var(--mb-2-5);
}

.skills_icon,
.skills_arrow {
    font-size: 2rem;
    color: var(--skin-color);
}

.skills_icon {
    margin-right: var(--mb-0-75);
}

.skills_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.skills_subtitle {
    font-size: var(--small-font-size);
}

.skills_arrow {
    margin-left: auto;
}

.skills_active .skills_arrow {
    transform: rotate(-90deg);
    transition: .3s;
}

.skills [data-content] {
    display: none;
}

.skills_active[data-content] {
    display: block;
}


.skills_list {
    row-gap: 1.8rem;
}

.skills_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills_bar {
    background-color: var(--box-color);
}

.skills_percentage {
    display: block;
    background-color: var(--skin-color);
}




/*===== Work Section =====*/

.work_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

/* Filters styling */
.work_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

/* Card styling */
.work_card {
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio_item-details {
    display: none;
}

.work_img {
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
    width: 100%;          /* Makes the image take up the full width of the container */
    height: auto;         /* Maintains the aspect ratio of the image */
    object-fit: cover;    /* Ensures the image covers the container without distortion */
}


.work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

/* Button styling */
.work_button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work_button-icon {
    font-size: 1rem;
    transition: .3s;
}

.work_button:hover .work_button-icon {
    transform: translateX(0.25rem);
    transition: transform 0.3s ease;
}

/* Active Item Work */
.active-work {
    background-color: var(--skin-color);
    color: var(--title-color);
}

/* Portfolio Popup */
.portfolio_popup{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    transition: .3s;
}

.portfolio_popup-inner{
    background-color: var(--box-color);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position:relative;
}

.portfolio_popup-content{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio_popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color:var(--skin-color);
    cursor: pointer;
}

.portfolio_popup-img{
    border-radius: .5rem;
}

.portfolio_popup-subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);
}














/*===== Services Section =====*/


/* Active Modal */


/*===== Testimonial Section =====*/


/* Swiper Class */


/*===== Contact Section =====*/


/*=============== FOOTER ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== SCROLL BAR ===============*/


/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {}

@media screen and (max-width: 1216px) {}

@media screen and (max-width: 1024px) {}

/* For Medium Devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* For Small Devices */
@media screen and (max-width: 350px) {}
